<div class="row">
  <div class="col-xs-6 text-center app-setting__name">
    <strong>{{setting.name}}</strong>
  </div>
  <div class="col-xs-6">
    <label class="toggle">
      {{input type="checkbox" checked=setting.value}}
      <span></span>
    </label>
  </div>
</div>{{yield}}
