$grid-gutter-width: 16px;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group";
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/jumbotron";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/media";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/toasts";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/print";

$toast-zindex:   100;
$overlay-zindex: 101;

html, body, body > div.container-fluid {
  height: 100%;
}

#app-version {
  position: fixed;
  bottom: 8px;
  left: 8px;
}

@import "icons";
@import "util";
@import "variables/animations";
@import "variables/colours";
@import "components/buttons";
@import "components/delivery-select";
@import "components/order-item";
@import "components/order-pad";

.app-toasts,
.app-loader,
.app-overlay,
.delivery-select {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.app-toasts {
  z-index: $toast-zindex;

  pointer-events: none;
  .toast {
    pointer-events: auto;
  }

  // This is so newer toasts appear at the top
  flex-direction: column-reverse !important;
  .toast:last-child {
    margin-bottom: 0.75rem;
  }
}

.app-loader,
.app-overlay {
  background: rgba(255, 255, 255, 0.9);
  animation: fade-in 0.2s ease;
  z-index: $overlay-zindex;
}

.delivery-select {
  background-color: $white;
}
