.main-btn {
  min-width: 185px;
  max-width: 400px;
  width: 100%;
  margin-top: 30px;
  padding: 18px;
  color: @color-primary-0;
  border-color: @color-primary-0;
  border-width: 2px;
}

.main-btn:hover {
  background-color: @color-primary-0;
  color: #FFF;
}

.category-item {
  padding: 6px 2px;
}

.category-item.active {
  background-color: @color-primary-0;
  color: #FFF;
}

.decrement-btn {
  border-radius: 50%;
  padding: 4px 5px 3px 4px;
  margin-right: 3px;
}

.edit-item-btn {
  padding: 8px;

  span {
    margin-right: 8px; //center glyphicon in tappable area
  }
}

.submit-btn, .cancel-btn {
  min-width: 90px;
}

.toggle-menu {
  position: fixed;
  bottom: 0px;
  right: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.decrement-btn, .submit-btn, .cancel-btn, .close-btn {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
}

#edit-item-modal {

  .modal-header {
    border-bottom: none;
    padding-bottom: 0px;
  }

  h4 {
    padding-bottom: 11px;
  }

  .edit-option {
    padding: 8px 0px 8px 30px;
  }
}

.order-edit-option {
  margin-left: 70px;
}
