.category-item {
  padding: 6px 2px;
}

.submit-btn, .cancel-btn {
  min-width: 90px;
}

.toggle-menu {
  position: fixed;
  bottom: 0px;
  right: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
