.orderpad-categories {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.orderpad-menu {
  margin: 15px 0px;
}

.orderpad-summary {
  margin-top: 15px;
}

@media (min-width: @screen-sm-min) {

  .orderpad-order {
    margin: 15px 0px;
  }

  .toggle-menu, .orderpad-modal {
    display: none;
  }

  .cancel-btn {
    margin-right: 10px;
  }

}

@media (max-width: (@screen-sm-min - 1)) {
  #orderpad-order {
    display: none;
  }
}
