#orderpad-categories,
#orderpad-menu,
#orderpad-order {
  padding-left:5px;
  padding-right:5px;
}

#orderpad-categories {
  padding: 10px;
}

.scroll-y {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#orderpad-order, #orderpad-modal {

  .list-group-item {
    padding-left: 8px;
    padding-right: 0px; //compensate for .edit-btn margin-right
  }
}

#orderpad-order {

  .cancel-btn {
    margin-right: 11px;
  }
}

#orderpad-summary {
  margin-top: 11px;
}

@media (min-width: @screen-sm-min) {

  .cancel-btn {
    margin-bottom: 40px;
  }

  .toggle-menu, #orderpad-modal {
    display: none;
  }

}

@media (max-width: (@screen-sm-min - 1)) {
  #orderpad-order {
    display: none;
  }
}
