// ### glyphicon-none

.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}

// ### END glyphicon-none

// ### Bootstrap overrides

@grid-gutter-width:         8px;

.list-group {
  margin-bottom: @grid-gutter-width;
}

.list-group-item {
  padding: 9px 8px;
}

.nav-justified {
  @media (min-width: (@screen-xs-min - 120)) { // dont collapse for small screens
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}

.nav-tabs-justified {
  @media (min-width: (@screen-xs-min - 120)) { // dont collapse for small screens
    > li > a {
      border-bottom: 1px solid @nav-tabs-justified-link-border-color;
      border-radius: @border-radius-base @border-radius-base 0 0;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-bottom-color: @nav-tabs-justified-active-link-border-color;
    }
  }
}

// ### END overrides
