.btn-default:focus,
.btn-default:active,
.btn-danger:focus,
.btn-danger:active,
.btn-success:focus,
.btn-success:active {
  outline: none !important;
}

.btn-default:focus {
  background-color: #FFFFFF;
}

//Allows touch events to be fired on touch devices
a {
  color: @gray-base;
  cursor: pointer;
}

a:hover,
a:focus {
  color: @gray-light;
  cursor: pointer;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
