<form class="form-horizontal">
  {{form-group label="Address" type="text" placeholder="House number and road name" value=searchAddressRaw}}
  {{form-group label="Postcode" type="text" placeholder="Postcode" value=searchPostcodeRaw}}
  {{form-group label="Telephone" type="number" placeholder="Contact number" value=searchContactNumberRaw}}
</form>