<form class="form-horizontal">
  {{#form-group label="Telephone"}}
    <div class="input-group">
      {{input class="form-control" type="number" placeholder="Telephone" value=searchContactNumberRaw}}
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-earphone"></span>
      </span>
    </div>
  {{/form-group}}
  {{form-group label="Flat/House" type="text" placeholder="Flat or house number" value=searchAddressOneRaw}}
  {{form-group label="Address" type="text" placeholder="Road name" value=searchAddressTwoRaw}}
  {{form-group label="Postcode" type="text" placeholder="Postcode" value=searchPostcodeRaw}}
</form>