<form class="form-horizontal">
  {{form-group label="Telephone" type="number" placeholder="Contact number" value=searchContactNumberRaw}}
  {{form-group label="Flat/House" type="text" placeholder="Flat or house number" value=searchAddressOneRaw}}
  {{form-group label="Address" type="text" placeholder="Road name" value=searchAddressTwoRaw}}
  {{form-group label="Postcode" type="text" placeholder="Postcode" value=searchPostcodeRaw}}
</form>