# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log

### Intellij ###
.idea/**/workspace.xml
.idea/**/tasks.xml

### Intellij Patch ###
# In case this becomes a multi module project we can comment the ignored files below
# https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721
# https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

*.iml
.idea/*.xml
