<form class="form-horizontal">
  <div class="form-group">
    <label class="col-xs-3 control-label" for="takeaway-customerName">DELIVERY</label>
    <div class="col-xs-8">
      BLAH
    </div>
  </div>
</form>
