<div class="text-center">
  {{table.tableId}}
</div>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="status {{table.status}}"></span>
    {{table.status}}
  </button>
  <ul class="dropdown-menu">
    {{#if isAvailable}}
      <li><a {{action "selectTable"}}>Select</a></li>
    {{/if}}
    <!--<li><a href="#">Bill</a></li>-->
    <!--<li><a href="#">Complete</a></li>-->
  </ul>
</div>
