<div class="row order_edit_right_customer">
  <div class="col">
    {{#bootstrap-dropdown classes="btn-lg btn-block btn-main" text="New customer"}}
      <div class="dropdown-menu">
        <button type="button" class="dropdown-item">Take away</button>
        <button type="button" class="dropdown-item">Delivery</button>
        <button type="button" class="dropdown-item">Online</button>
      </div>
    {{/bootstrap-dropdown}}
  </div>
</div>