<div class="row order_edit_right_customer">
  <div class="col">
    <div class="dropdown">
      <button type="button" class="btn btn-lg btn-block btn-main" data-toggle="dropdown" aria-expanded="false">
        New customer
      </button>
      <div class="dropdown-menu">
        <button type="button" class="dropdown-item">Takeaway</button>
        <button type="button" class="dropdown-item">Delivery</button>
        <button type="button" class="dropdown-item">Online</button>
      </div>
    </div>
  </div>
</div>
<div class="row order_edit_right_order_items">
  <div class="col">

  </div>
</div>