.order_edit {
  height: 100%;

  &_left {
    height: 100%;
    display: flex;
    flex-direction: column;

    &_categories {
      flex-shrink: 0;
    }

    &_bottom {
      flex-shrink: 1;
      flex-basis: 100%;

      &_menu {
        overflow-y: auto;
        padding-top: $grid-gutter-width-base / 2;
        padding-bottom: $grid-gutter-width-base / 2;
      }

      &_numpad {
        align-self: flex-end;
        padding-top: $grid-gutter-width-base / 2;
        padding-bottom: $grid-gutter-width-base / 2;
      }

    }

    &_actions {
      flex-shrink: 0;
      padding-top: $grid-gutter-width-base / 2;
      padding-bottom: $grid-gutter-width-base / 2;
    }
  }

  &_right {
    display: flex;
    flex-direction: column;

    &_order_items {
      margin-bottom: auto;
      flex-shrink: 1;
      overflow-y: auto;
    }

    &_customer,
    &_order_info,
    &_actions {
      flex-shrink: 0;
    }

    &_customer,
    &_actions {
      padding-top: $grid-gutter-width-base / 2;
      padding-bottom: $grid-gutter-width-base / 2;
    }

    &_order_info {
      padding-top: $grid-gutter-width-base / 2;
    }
  }
}

.order-modal {
  @extend .container-fluid;
  background-color: $white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;

  &_top {
    flex-shrink: 0;
    padding-top: $grid-gutter-width-base / 2;
    padding-bottom: $grid-gutter-width-base / 2;
  }

  &_items {
    flex-grow: 1;
  }

  &_actions {
    flex-shrink: 0;
    padding-top: $grid-gutter-width-base / 2;
    padding-bottom: $grid-gutter-width-base / 2;
  }
}
