.order_edit {
  height: 100%;

  &_left {
    height: 100%;
    display: flex;
    flex-direction: column;

    &_categories {
      flex-shrink: 0;
    }

    &_bottom {
      flex-shrink: 1;
      flex-basis: 100%;

      &_menu {
        overflow-y: auto;
        padding-top: $grid-gutter-width-base / 2;
        padding-bottom: $grid-gutter-width-base / 2;
      }

      &_numpad {
        align-self: flex-end;
        padding-top: $grid-gutter-width-base / 2;
        padding-bottom: $grid-gutter-width-base / 2;
      }

    }

    &_actions {
      flex-shrink: 0;
      padding-top: $grid-gutter-width-base / 2;
      padding-bottom: $grid-gutter-width-base / 2;
    }
  }

  &_right {
    display: flex;
    flex-direction: column;

    &_order_items {
      margin-bottom: auto;
      flex-shrink: 1;
      overflow-y: auto;
    }

    &_customer,
    &_order_info,
    &_actions {
      flex-shrink: 0;
    }

    &_customer,
    &_actions {
      padding-top: $grid-gutter-width-base / 2;
      padding-bottom: $grid-gutter-width-base / 2;
    }

    &_order_info {
      padding-top: $grid-gutter-width-base / 2;
    }
  }
}

.btn-order {
  @extend .btn-warning;
  color: $black;
  box-shadow: 5px 5px 25px -10px $black;

  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  bottom: $grid-gutter-width-base;
  right: $grid-gutter-width-base;
}

.order-modal {
  display: flex;
  flex-direction: column;

  &_items {
    padding-top: $grid-gutter-width-base / 2;
    flex-grow: 1;
  }

  &_actions {
    flex-shrink: 0;
    padding-top: $grid-gutter-width-base / 2;

    &:last-child {
      padding-bottom: $grid-gutter-width-base / 2;
    }
  }
}
