.order-edit {

  .order-edit__menu {
    .scroll-y;
    padding: 8px;

    @media (max-width: @screen-sm-min) {
      padding: 8px 8px 50px 8px;
    }
  }

  .order-edit__numpad {
    display: flex;
    flex-direction: column;
  }

  .order-edit__numpad-value {
    font-size: 80px;
    margin-top: auto;
  }

  .order-edit__float-bottom-container {
    pointer-events: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;

    .btn-order__modal-toggle {
      pointer-events: initial;
      margin-bottom: 10px;
      color: black;
      box-shadow: 0px 1px 5px -1px black;
    }
  }


  .order-edit-create {

    .order-edit-create__customer {
      border-bottom: 1px solid @page-header-border-color;
    }

    .order-edit-create__order {
      .scroll-y;
      border-left: 1px solid @page-header-border-color;

      .list-group-item {
        padding-right: 0px;

        .order-edit-option {
          margin-left: 55px;
        }
      }
    }

    .order-edit-create__details {
      padding-top: @grid-gutter-width;
      padding-bottom: @grid-gutter-width;
      border-top: 1px solid @page-header-border-color;
    }
  }

  .order-edit-create__confirm-order {

    .order-edit-create__confirm-order-header {
      padding-top: @grid-gutter-width;
      padding-bottom: @grid-gutter-width;
    }

    .order-edit-create__confirm-order-body {
      .scroll-y;
      padding-bottom: @grid-gutter-width;
    }

    .order-edit-create__confirm-order-footer {
      padding-top: @grid-gutter-width;

      .order-edit-create__confirm-order-details {
        padding-top: @grid-gutter-width;
        padding-bottom: @grid-gutter-width;

        .order-edit-create__confirm-order-items,
        .order-edit-create__confirm-order-total {
          padding-top: @grid-gutter-width;
          padding-bottom: @grid-gutter-width;
          border-top: 1px solid @page-header-border-color;
          border-bottom: 1px solid @page-header-border-color;
        }
      }

      .order-edit-create__confirm-order-select {
        padding-top: @grid-gutter-width;
        padding-bottom: @grid-gutter-width;
      }

      .order-edit-create__confirm-order-notes {
        margin-bottom: 25px;
        padding-top: @grid-gutter-width;
        padding-bottom: @grid-gutter-width;
      }
    }
  }


  .order-edit__eat-out {

    .order-edit-eat-out__order {
      .scroll-y;

      .list-group-item {
        padding-right: 0px;
      }
    }

    .order-edit-eat-out__details {
      padding-top: @grid-gutter-width;
      padding-bottom: @grid-gutter-width;
      border-top: 1px solid @page-header-border-color;
    }
  }

  #order-edit-create__order-modal,
  #order-edit-eat-out__order-modal {

    .modal-header {
      padding: 12px;
      border-bottom: none;
    }

    .modal-body {
      padding: 0px;

      .list-group {
        margin-bottom: 0px;

        .order-edit-option {
            margin-left: 35px;
        }
      }
    }

    .modal-footer {
      border-top: none;

      .order-edit-create__order-modal,
      .order-edit-eat-out__order-modal {

        &-details {
          padding-top: @grid-gutter-width;
          padding-bottom: @grid-gutter-width;
        }

        &-cancel {
          padding-right: 0px;
        }

        &-submit {
          padding-left: 0px;
        }
      }
    }
  }
}
