.order-edit {

  .order-edit__menu {
    .scroll-y
  }

  .order-edit__numpad {
    display: flex;
    flex-direction: column;
  }

  .order-edit__numpad-value {
    font-size: 80px;
    margin-top: auto;
  }
}
