.order-edit {

  .order-edit__menu {
    .scroll-y;
  }

  .order-edit__numpad {
    display: flex;
    flex-direction: column;
  }

  .order-edit__numpad-value {
    font-size: 80px;
    margin-top: auto;
  }

  .order-edit__eat-out {

    .order-edit__eat-out-order {
      .scroll-y;
    }

    .order-edit__eat-out-details {
      padding-top: @grid-gutter-width;
      padding-bottom: @grid-gutter-width;
      border-top: 1px solid @page-header-border-color;
    }
  }
}
