<form class="form-horizontal">
  <div class="form-group">
    <label class="col-xs-2 control-label" for="takeaway-customerName">TAKE AWAY</label>
    <div class="col-xs-9">
      <input class="form-control" type="text" id="takeaway-customerName"
             placeholder="Customer name">
    </div>
  </div>
</form>
