.customer-select {
  display: flex;
  flex-direction: column;

  .delivery-customer-search {
    flex-shrink: 0;
    padding-top: $grid-gutter-width / 2;
  }

  &_alert {
    flex-shrink: 0;
  }

  &_actions {
    flex-shrink: 0;
  }

  &_results {
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: $grid-gutter-width / 2;
    margin-bottom: $grid-gutter-width / 2;
  }
}
