.btn-main:focus,
.btn-main:active,
.btn-default:focus,
.btn-default:active,
.btn-warning:focus,
.btn-warning:active,
.btn-danger:focus,
.btn-danger:active,
.btn-success:focus,
.btn-success:active {
  outline: none !important;
}

.btn-default:focus,
.btn-default:active,
.btn-default:hover {
  background-color: #FFF;
}

.btn-default,
.btn-success,
.btn-danger {
  width: 100%;
}

.btn-main,
.btn-main:focus {
  background-color: #FFF;
  color: @color-primary-0;
  border-color: @color-primary-0;
  border-width: 1px;
}

.btn-main:hover,
.btn-main:active,
.btn-default.is-selected,
.btn-default.is-selected:focus {
  background-color: @color-primary-0;
  color: #FFF;
}

.decrement-btn {
  border-radius: 50%;
  padding: 4px 5px 3px 4px;
  margin-right: 5px;
}

.edit-item-btn {
  padding: 5px 12px 5px 5px;
}

.btn-numpad {
  width: 40px;
  height: 40px;
  border-radius: 50%
}

.toggle-menu {
  position: fixed;
  bottom: 0px;
  left: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
