.btn-main {
  background-color: #FFF;
  color: @color-primary-0;
  border-color: @color-primary-0;
  border-width: 2px;
}

.btn-main:hover,
.btn-main:active {
  background-color: @color-primary-0;
  color: #FFF;
}

.decrement-btn, .submit-btn, .cancel-btn, .close-btn {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
}

.submit-btn, .cancel-btn {
  min-width: 90px;
}

.decrement-btn {
  border-radius: 50%;
  padding: 4px 5px 3px 4px;
  margin-right: 3px;
}

.edit-item-btn {
  padding: 5px;

  span {
    margin-right: 8px; //center glyphicon in tappable area
  }
}


