.restaurant-table {
  margin: @grid-gutter-width;
  padding: 5px;
  border-width: 1px;
  border-style: solid;

  .status {
    display: inherit;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    &.AVAILABLE {
      background-color: @brand-success;
    }
  }

  .dropdown-menu {
    width: 100%;
  }
}
