.delivery-customer-index {
  height: 100%;
  display: flex;
  flex-direction: column;

  &_title {
    flex-shrink: 0;
  }

  .delivery-customer-search {
    flex-shrink: 0;
    padding-top: $grid-gutter-width-base / 2;
  }

  &_results {
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: $grid-gutter-width-base / 2;
    margin-bottom: $grid-gutter-width-base / 2;
  }
}
