<div class="table-browser container-fluid">
  <div class="row">
    {{#each tables as |table|}}
      <div class="col-md-2">
        {{restaurant-table table=table onTableSelected=onTableSelected}}
      </div>
    {{/each}}
  </div>
  {{#btn/btn-default action="cancel"}}Cancel{{/btn/btn-default}}
</div>
