<span class="badge {{this.badgeClass}}" ...attributes>
  {{@tag.name}}
  {{#if @onDelete}}
    <span class="p-2"{{on "click" (fn @onDelete @tag)}} {{!-- template-lint-disable no-invalid-interactive --}}>&times;</span>
  {{/if}}
</span>