{{#if customer.customerType}}

  {{#btn/btn-default class="btn-danger btn-sm" action="removeCustomer"}}
    REMOVE CUSTOMER
  {{/btn/btn-default}}
  <div class="gutter-top-bottom bottom-divider">
    {{component (concat 'selected-' customer.customerType) customer=customer}}
  </div>

{{else}}

  <div class="dropdown">
    {{#btn/btn-default class="btn-danger btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"}}
      SELECT CUSTOMER
    {{/btn/btn-default}}
    <ul class="dropdown-menu" style="width: 100%;">
      <li><a {{action "createCustomer" "takeaway-customer"}}>Take away</a></li>
      <li role="separator" class="divider"></li>
      <li><a {{action "createCustomer" "delivery-customer"}}>Delivery</a></li>
    </ul>
  </div>

{{/if}}