{{#if customer.customerType}}

  {{#btn-button class="btn-sm btn-danger" action="removeCustomer"}}Remove Customer{{/btn-button}}
  <div class="top-bottom-gutter bottom-divider">
    {{component (concat 'selected-' customer.customerType) customer=customer}}
  </div>

{{else}}

  {{#btn-button class="col-xs-12 btn-danger btn-lg" data-toggle="dropdown"}}
    Select Customer
  {{/btn-button}}
  <ul class="dropdown-menu" style="width: 100%;">
    <li><a {{action "setCustomer" "takeaway-customer"}}>Take away</a></li>
    <li role="separator" class="divider"></li>
    <li><a {{action "setCustomer" "delivery-customer"}}>Delivery</a></li>
  </ul>

{{/if}}