<div class="row gutter-bottom">
  <div class="col-xs-12">
    <form class="form-horizontal">
      {{form-group inputCol="col-sm-10" label="ID" type="text" value=model.id readonly=true}}
      {{form-group inputCol="col-sm-10" label="Postcode" type="text" value=model.postcode disabled=editDisabled}}
    </form>
  </div>
</div>
<div class="row gutter-bottom">
  {{#if editable}}
    <div class="col-xs-6">
      {{#btn-button class="btn-danger btn-lg" confirmAction=(action "deleteRecord") showMessage="showMessage" confirmMessage="Really delete the postcode?"}}
        Delete
      {{/btn-button}}
    </div>
    <div class="col-xs-6">
      {{#btn-button class="btn-success btn-lg" action="saveEdit" disabled=saveDisabled}}
        Save
      {{/btn-button}}
    </div>
    <div class="col-xs-12 gutter-top">
      {{#btn-button class="btn-default btn-lg" action="disableEdit"}}
        Cancel
      {{/btn-button}}
    </div>
  {{else}}
    <div class="col-xs-12 gutter-bottom">
      {{#btn-button class="btn-primary btn-lg" action="enableEdit"}}
        Edit
      {{/btn-button}}
    </div>
    <div class="col-xs-12 gutter-bottom">
      {{#btn-button class="btn-default btn-lg" action="closeEdit"}}
        Close
      {{/btn-button}}
    </div>
  {{/if}}
</div>