<div class="form-group {{class}}">
  {{yield}}
  {{#if hasDanger}}
    {{#if helpText}}
      <small class="form-text form-control-feedback">
        {{helpText}}
      </small>
    {{/if}}
  {{/if}}
</div>
