<h1>Menu</h1>
<ul>
  {{#collection contentBinding="model"}}
    <li>{{menuId}} {{name}}</li>
    {{#collection contentBinding="categories"}}
      {{name}}
    {{/collection}}
  {{/collection}}
</ul>
{{outlet}}
