<div class="gutter-top-bottom">
  <form class="form-horizontal">
    {{#form-group label="Tel" hasError=customer.invalidTelephone helpText=customer.invalidTelephoneReason}}
      <div class="input-group">
        {{input class="form-control" type="number" placeholder="Telephone" value=customer.telephone}}
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-earphone"></span>
        </span>
      </div>
    {{/form-group}}
    {{#form-group label="Name"}}
      <div class="input-group">
        {{input class="form-control" type="text" placeholder="Name" value=customer.name}}
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </span>
      </div>
    {{/form-group}}
  </form>
</div>
