<form class="form-horizontal">
  <div class="form-group" style="margin-bottom: 5px">
    <label class="col-xs-3 control-label" for="takeaway-customerNameRaw">NAME</label>
    <div class="col-xs-8">
      {{input class="form-control" type="text" id="takeaway-customerNameRaw" placeholder="Customer name" value=nameRaw}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-3 control-label" for="takeaway-customerContactNumberRaw">NUMBER</label>
    <div class="col-xs-8">
      {{input class="form-control" type="text" id="takeaway-customerContactNumberRaw" placeholder="Contact Number" value=contactNumberRaw}}
    </div>
  </div>
</form>
