<div class="top-bottom-gutter">
  <form class="form-horizontal">
    {{form-group label="Tel" type="number" placeholder="Telephone" value=customer.contactNumber
        hasError=customer.invalidTelephone helpText=customer.invalidTelephoneReason}}
    {{form-group label="Name" type="text" placeholder="Name" value=customer.name
        hasError=customer.invalidName helpText=customer.invalidNameReason}}
  </form>
</div>
