<div id="postcode-search">
  <div class="row gutter-top-bottom">
    <div class="col-xs-12">
      {{input class="form-control" placeholder="Search for postcodes..." value=search}}
    </div>
  </div>
  <div class="row gutter-bottom">
    <div class="col-xs-12">
      {{#btn/btn-default class="btn-primary btn-lg btn-block" action="searchPostcodes" disabled=emptySearch}}
        Search Postcode
      {{/btn/btn-default}}
    </div>
  </div>
</div>
<div class="row">
  <div id="postcode-search-list" class="scroll-y col-xs-12 col-sm-6">
    <div class="gutter-top-bottom">
      <ul class="list-group">
        {{#each searchResults as |postcode|}}
          {{postcode-item postcode=postcode action="transitionToPostcode"}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div id="postcode-edit" class="col-xs-12 col-sm-6 gutter-top-bottom">
    {{outlet}}
  </div>
</div>