{{talaythai-nav}}
<div style="padding-top:50px"></div>
<div class="row top-bottom-gutter left-right-gutter">
  <div class="col-xs-12">
    {{customer-form
        searchAddressRaw=searchAddressRaw
        searchPostcodeRaw=searchPostcodeRaw
        searchContactNumberRaw=searchContactNumberRaw}}
  </div>
</div>
<div class="row left-right-gutter">
  <div class="col-xs-offset-10 col-xs-2 col-md-offset-8 col-md-3">
    {{#btn-button class="btn-primary" action="searchCustomer" disabled=emptySearch}}Search{{/btn-button}}
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    {{delivery-customer-list deliveryCustomers=deliveryCustomerResults selectDeliveryCustomer=(action "transitionToCustomer")}}
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    {{outlet}}
  </div>
</div>
