{{talaythai-nav}}
<div style="padding-top:50px"></div>
<div class="row top-bottom-gutter left-right-gutter">
  <div class="col-xs-12">
    {{customer-form}}
  </div>
</div>
<div class="row">
  <div class="col-xs-offset-10 col-xs-2 col-md-offset-8 col-md-3">
    {{#btn-button class="btn-primary" action="searchCustomer"}}Search{{/btn-button}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{outlet}}
  </div>
</div>
