<div class="confirm-order">
  <div class="container-fluid">

    <div id="confirm-order-list-header" class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 left-right-gutter top-bottom-gutter">
        <div class="lead">
          Review order
        </div>
      </div>
    </div>
    <div id="confirm-order-list" class="row scroll-y top-bottom-gutter">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 left-right-gutter">
        {{order-list order=model.order}}
      </div>
    </div>

    <div id="confirm-order-bottom">
      <div class="row top-bottom-gutter">
        <div class="col-xs-6 col-sm-offset-1 col-sm-5 left-right-gutter">
          <div class="lead top-bottom-gutter">
            Estimated Delivery Time
          </div>
          {{select-component content=estimatedDeliveryTimes selectedValue=model.order.estimatedTime action=(action (mut model.order.estimatedTime))}}
        </div>
        <div class="col-xs-6 col-sm-5 left-right-gutter">
          <div class="lead top-bottom-gutter">
            Payment Method
          </div>
          {{select-component content=paymentMethods selectedValue=model.order.paymentMethod action=(action (mut model.order.paymentMethod))}}
        </div>
      </div>

      <div class="row top-bottom-gutter">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 left-right-gutter">
          <div class="lead top-bottom-gutter">
            Notes
          </div>
          {{textarea class="form-control" rows="2" value=model.order.notes}}
        </div>
      </div>
      <div style="height:20px"></div>
      <div class="row">
        <div class="col-xs-6">
          {{#btn-button class="btn-lg btn-default" action="hideConfirmOrder"}}
            CANCEL
          {{/btn-button}}
        </div>
        <div class="col-xs-6">
          {{#btn-button class="btn-lg btn-success" disabled=invalidOrder action="submitOrder"}}
            CONFIRM
          {{/btn-button}}
        </div>
      </div>
    </div>

  </div>
</div>
