<div class="confirm-dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="height:100%">
      <div class="modal-header">
        <button {{action "dismissMessage" "confirm" model.cancel}} type="button" class="close"
                                                                   aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center">Confirm action</h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              {{model.message}}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-xs-6 no-padding">
          {{#btn/btn-default class="btn-default btn-lg btn-block" action="onCancel"}}
            CANCEL
          {{/btn/btn-default}}
        </div>
        <div class="col-xs-6 no-padding">
          {{#btn/btn-default class="btn-success btn-lg btn-block" action="onConfirm"}}
            CONFIRM
          {{/btn/btn-default}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="confirm-dialog-backdrop"></div>
