<div class="confirm-order">
  <div class="container-fluid">

    <div id="confirm-order-top">
      <div class="row top-bottom-gutter">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 left-right-gutter">
          <div class="lead top-bottom-gutter">
            Review order
          </div>
        </div>
      </div>
    </div>

    <div id="confirm-order-bottom">
      <div class="row top-bottom-gutter">
        <div class="col-xs-6 col-sm-offset-1 col-sm-5 left-right-gutter">
          <div class="lead top-bottom-gutter">
            Estimated Delivery Time
          </div>
          <select class="form-control">
            <option>20</option>
            <option>25</option>
            <option>30</option>
            <option>35</option>
            <option>40</option>
            <option>45</option>
            <option>50</option>
            <option>55</option>
            <option>60+</option>
          </select>
        </div>
        <div class="col-xs-6 col-sm-5 left-right-gutter">
          <div class="lead top-bottom-gutter">
            Payment Method
          </div>
          <select class="form-control">
            <option>CASH</option>
            <option>CARD</option>
            <option>ONLINE</option>
          </select>
        </div>
      </div>

      <div class="row top-bottom-gutter">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 left-right-gutter">
          <div class="lead top-bottom-gutter">
            Notes
          </div>
          {{textarea class="form-control" rows="3" value=model.order.notes}}
        </div>
      </div>
      <div style="height:20px"></div>
      <div class="row">
        <div class="col-xs-6">
          {{#btn-button class="btn-lg btn-default" action="hideConfirmOrder"}}
            CANCEL
          {{/btn-button}}
        </div>
        <div class="col-xs-6">
          {{#btn-button class="btn-lg btn-success" action="submitOrder"}}
            CONFIRM
          {{/btn-button}}
        </div>
      </div>
    </div>

  </div>
</div>
