<div class="row visible-xs order-edit-create__customer-mobile">
  <div class="col-xs-12 no-padding">
    {{inline-customer-input
        customer=customer
        onSelectTakeaway=(action "setNewTakeawayCustomer")
        onSelectDelivery=(action "showCustomerBrowser")
        onSelectOnline=(action "setNewOnlineCustomer")
        onSelectEatIn=(action "showTableBrowser")
        onRemoveCustomer=(action "removeCustomer")}}
  </div>
</div>
