<div class="row visible-xs order-edit-eat-out__customer-mobile">
  <div class="col-xs-12 no-padding">
    {{inline-customer-input
        customer=model.customer
        canRemove=false}}
  </div>
</div>
