<div class="container">
  <div class="row text-center">
    {{#link-to 'orderpad.restaurant'}}
      {{#main-btn}}RESTAURANT ORDER{{/main-btn}}
    {{/link-to}}
    {{#link-to 'orderpad.takeaway'}}
      {{#main-btn}}TAKEAWAY ORDER{{/main-btn}}
    {{/link-to}}
    {{#link-to 'orderpad.delivery'}}
      {{#main-btn}}DELIVERY ORDER{{/main-btn}}
    {{/link-to}}
  </div>
</div>