<div class="container">
  <div class="row gutter-top-bottom text-center">
    <div class="col-sm-6 col-xs-12">
      {{#link-to "orderpad"}}
        {{#btn-button class="btn-main btn-home"}}NEW ORDER{{/btn-button}}
      {{/link-to}}
    </div>
  </div>
  <div class="row gutter-top-bottom text-center">
    <div class="col-sm-6 col-xs-12">
      {{#link-to "customers"}}
        {{#btn-button class="btn-main btn-home"}}CUSTOMER MANAGEMENT{{/btn-button}}
      {{/link-to}}
    </div>
  </div>
</div>
<div class="text-muted" style="position:absolute;bottom:5px;left:10px;">
  {{name}} - {{version}}
</div>