<div class="container-fluid">
  <div class="row gutter-top-bottom text-center">
    <h3>Order</h3>
    <div class="col-xs-12 col-sm-6 gutter-top">
      {{#link-to "orderpad"}}
        <button class="btn btn-main btn-home">NEW</button>
      {{/link-to}}
    </div>
    <div class="col-xs-12 col-sm-6 gutter-top">
      {{#link-to "order"}}
        <button class="btn btn-main btn-home">RECENT ORDERS</button>
      {{/link-to}}
    </div>
  </div>
  <div class="row gutter-top-bottom text-center">
    <h3>Management</h3>
    <div class="col-xs-12 col-sm-4 gutter-top">
      {{#link-to "delivery-customer"}}
        <button class="btn btn-main btn-home">CUSTOMERS</button>
      {{/link-to}}
    </div>
    <div class="col-xs-12 col-sm-4 gutter-top">
      {{#link-to "road"}}
        <button class="btn btn-main btn-home">ROADS</button>
      {{/link-to}}
    </div>
    <div class="col-xs-12 col-sm-4 gutter-top">
      {{#link-to "postcode"}}
        <button class="btn btn-main btn-home">POSTCODES</button>
      {{/link-to}}
    </div>
  </div>
</div>
<div class="text-muted" style="position:absolute;bottom:5px;left:10px;">
  {{name}} - {{version}}
</div>