<div class="container-fluid">
  <div class="row gutter-top-bottom text-center">
    <h3>Order</h3>
    <div class="col-xs-12 col-sm-6 gutter-top">
      {{#link-to "orderpad"}}
        {{#btn/btn-default class="btn btn-home"}}NEW{{/btn/btn-default}}
      {{/link-to}}
    </div>
    <div class="col-xs-12 col-sm-6 gutter-top">
      {{#link-to "order.view"}}
        {{#btn/btn-default class="btn btn-home"}}RECENT ORDERS{{/btn/btn-default}}
      {{/link-to}}
    </div>
  </div>
  <div class="row gutter-top-bottom text-center">
    <h3>Management</h3>
    <div class="col-xs-12 col-sm-4 gutter-top">
      {{#link-to "delivery-customer"}}
        {{#btn/btn-default class="btn btn-home"}}CUSTOMERS{{/btn/btn-default}}
      {{/link-to}}
    </div>
    <div class="col-xs-12 col-sm-4 gutter-top">
      {{#link-to "road"}}
        {{#btn/btn-default class="btn btn-home"}}ROADS{{/btn/btn-default}}
      {{/link-to}}
    </div>
    <div class="col-xs-12 col-sm-4 gutter-top">
      {{#link-to "postcode"}}
        {{#btn/btn-default class="btn btn-home"}}POSTCODES{{/btn/btn-default}}
      {{/link-to}}
    </div>
  </div>
</div>
<div class="text-muted" style="position:absolute;bottom:5px;left:10px;">
  {{name}} - {{version}}
</div>