<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="home text-center">
        {{#main-btn}}
          {{#link-to 'orderpad.restaurant'}}RESTAURANT ORDER{{/link-to}}
        {{/main-btn}}
      </div>
    </div>
  </div>
</div>
