<div class="row">
  <div class="col-xs-12 text-center">
    <h3>Order</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 gutter-top">
    {{#link-to "order.edit.create" tagName="button" type="button" classNames="btn btn-main btn-block"}}
      NEW
    {{/link-to}}
  </div>
  <div class="col-xs-12 col-sm-6 gutter-top">
    {{#link-to "order.view" tagName="button" type="button" classNames="btn btn-main btn-block"}}
      RECENT ORDERS
    {{/link-to}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center">
    <h3>Management</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4 gutter-top">
    {{#link-to "delivery-customer" tagName="button" type="button" classNames="btn btn-main btn-block"}}
      CUSTOMERS
    {{/link-to}}
  </div>
  <div class="col-xs-12 col-sm-4 gutter-top">
    {{#link-to "road" tagName="button" type="button" classNames="btn btn-main btn-block"}}
      ROADS
    {{/link-to}}
  </div>
  <div class="col-xs-12 col-sm-4 gutter-top">
    {{#link-to "postcode" tagName="button" type="button" classNames="btn btn-main btn-block"}}
      POSTCODES
    {{/link-to}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center">
    <h3>Settings</h3>
  </div>
</div>
<div class="row">
  {{#each model as |setting|}}
    <div class="col-xs-12 col-sm-6 col-md-4">
      {{app-setting setting=setting onSaveError=(action "onSaveError")}}
    </div>
  {{/each}}
</div>

<div class="text-muted" style="position:absolute;bottom:5px;left:10px;">
  {{name}} - {{version}}
</div>