<div class="overlay" {{action "dismissOverlay"}}>
  <div class="overlay-inner">
    <div class="text-center">
      <h3>{{model.header}}</h3>
      <div class="overlay-message">
        {{model.message}}
      </div>
    </div>
  </div>
</div>