<div class="overlay" {{action "dismissOverlay" model.callback}}>
  <div class="overlay-inner">
    <div class="text-center">
      <h2>{{model.header}}</h2>
      <div class="overlay-message">
        {{model.message}}
      </div>
      <div class="text-muted">
        <small>Tap anywhere to dismiss</small>
      </div>
    </div>
  </div>
</div>