<div class="gutter-top-bottom">
  <form class="form-horizontal" onsubmit="return false">
    {{form-group label="Order ID" type="text" placeholder="Order ID" value=customer.orderId}}
  </form>
</div>
