<form>
  {{#form-group class="row mb-1" hasDanger=customer.invalidTelephone}}
    <label class="offset-sm-1 col-sm-2 col-form-label hidden-xs-down">Tel</label>
    <div class="col-12 col-sm-8">
      {{input type="tel" class="form-control" placeholder="Telephone" value=customer.telephone}}
    </div>
  {{/form-group}}
  {{#form-group class="row mb-1" hasDanger=customer.invalidAddress}}
    <label class="offset-sm-1 col-sm-2 col-form-label hidden-xs-down">House no.</label>
    <div class="col-12 col-sm-8">
      {{input type="text" class="form-control" placeholder="House no." value=customer.addressOne}}
    </div>
  {{/form-group}}
  {{#form-group class="row mb-1" hasDanger=customer.invalidAddress}}
    <label class="offset-sm-1 col-sm-2 col-form-label hidden-xs-down">Road</label>
    <div class="col-12 col-sm-8">
      {{suggestable-input placeholder="Road"
                          value=customer.addressTwo
                          suggestions=roadSuggestions
                          suggestionError=roadSuggestionError
                          onValueChange=(action "roadSuggestionSearch")
                          minLengthToTriggerValueChange=2}}
    </div>
  {{/form-group}}
  {{#form-group class="row mb-1" hasDanger=customer.invalidPostcode}}
    <label class="offset-sm-1 col-sm-2 col-form-label hidden-xs-down">Postcode</label>
    <div class="col-12 col-sm-8">
      {{suggestable-input placeholder="Postcode"
                          value=customer.postcode
                          suggestions=postcodeSuggestions
                          suggestionError=postcodeSuggestionError
                          onValueChange=(action "postcodeSuggestionSearch")
                          minLengthToTriggerValueChange=2}}
    </div>
  {{/form-group}}
</form>
